/* 상단 영역 */
.header {
  position: relative;
  width: 100%;
  height: 160px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: unset;
}

.h-inner {
  position: relative;
  width: 1280px;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

.h-top {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.h-top-left {
  position: relative;
  width: 625px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  width: 151px;
  height: 38px;
  display: block;
  background: url("../images/logo.svg") no-repeat;
}

.h-search {
  position: relative;
  width: 454px;
  height: 50px;
}

.search-f {
  position: relative;
  width: 454px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  border-radius: 25px;
}

.search-word {
  position: relative;
  width: calc(100% - 82px);
  height: 100%;
  margin-left: 16px;
  padding: 1px 2px;
  border: none;
  font-size: 16px;
  font-weight: 700;
}

.search-bt {
  position: relative;
  width: 52px;
  height: 100%;
  border: none;
  background: url("../images/search-bt.svg") no-repeat 50%;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
}

.h-top-right {
  position: relative;
  width: 210px;
  height: 100%;
  padding-right: 15px;
}

.mymenu {
  height: 100%;
  display: flex;
  align-items: center;
}

.mymenu li {
  height: 100%;
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
}

.mymenu li:first-child {
  margin-left: 0;
}

.mymenu li a {
  position: relative;
  display: flex;
  font-size: 15px;
  font-weight: 500;
}

.mypage-bt img {
  margin-left: 6px;
}

.h-bottom {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  margin: 30px 0 20px;
}

.h-bottom-cate {
  display: flex;
  align-items: center;
  justify-content: left;
}

.h-bottom-cate li {
  margin-left: 22px;
}

.h-bottom-cate li:first-child {
  margin-left: 0;
}

.h-bottom-cate li a {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.special-hot:after {
  content: "";
  width: 23px;
  height: 15px;
  display: block;
  padding-left: 10px;
  background: url("../images/badge_hot.65abbe70.svg") no-repeat center;
}

.h-bottom-cate li a img {
  width: 30px;
  height: auto;
  margin-right: 6px;
}

.h-today-menu {
  display: flex;
  align-items: center;
  justify-content: left;
}

.h-today-menu:before {
  content: "";
  width: 1px;
  height: 16px;
  display: block;
  margin: 0 12px;
  background-color: #e9e9e9;
}

.h-today-menu li a {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.h-today-menu li a img {
  width: 30px;
  height: auto;
  margin-right: 6px;
}