.ticket {
  position: relative;
  padding-top: 30px;
  padding-bottom: 90px;
}

.ticket-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.ticket-header {
  position: relative;
}

.ticket-title {
  position: relative;
  text-align: center;
  font-size: 2.8rem;
  color: black;
  font-weight: 700;
  margin-bottom: 10px;
}

.ticket-txt {
  position: relative;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: #a7a9a7;
}

.ticket-main {
  position: relative;
  width: 1280px;
  padding: 25px 0;
}

.ticket-cate {
  position: relative;
  display: flex;
  justify-content: center;
}

.ticket-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}

.ticket-list li {
  position: relative;
}

.ticket-cate-bt {
  display: block;
  position: relative;
  line-height: 42px;
  padding: 0px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4.4rem;
  background-color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  color: #111;
}

.ticket-cate-bt-active {
  background-color: #333 !important;
  color: #fff;
  font-weight: 700;
  border: 1px solid transparent !important;
}

.ticket-slide-wrap {
  position: relative;
  height: 534px;
  margin-top: 23px;
}

.ticket-slide-item {
  position: relative;
  width: auto;
  height: 400px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  overflow: hidden;
}

.ticket-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.ticket-link a {
  position: relative;
  display: flex;
  justify-content: center;
}

.ticket-img {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  background-color: #f7f7f7;
}

.ticket-img::before {
  position: absolute;
  width: 100%;
  height: 400px;
  z-index: 1;
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)),
    linear-gradient(180deg, transparent 68.5%, rgba(0, 0, 0, 0.6));
}

.ticket-img img {
  position: absolute;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ticket-img span {
  position: absolute;
  font-weight: 700;
  left: 2.2rem;
  bottom: 1.4rem;
  font-size: 7rem;
  line-height: 8.35rem;
  color: #fff;
  z-index: 1;
}

.ticket-info {
  position: relative;
  height: calc(100% -400px);
  padding: 16px 8px;
}

.ticket-good-list {
  position: relative;
}

.ticket-good-list li {
  position: relative;
  margin-bottom: 10px;
}

.ticket-good-info-tit {
  position: relative;
  font-size: 1.8rem;
  color: #111;
  font-weight: 700;
  /* 1줄 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ticket-good-info-place {
  position: relative;
  font-size: 1.5rem;
  color: #111;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 7px;
  color: #666;
}

.ticket-good-info-date {
  position: relative;
  font-size: 1.4rem;
  color: #666;
}

.ticket-badge {
  position: relative;
  display: flex;
}

.ticket-badge-blue {
  position: relative;
  height: 2.4rem;
  padding: 0 0.8rem;
  border: 0.1rem solid #4a95ff;
  border-radius: 0.3rem;
  color: #4a95ff;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 2.4rem;
}

.ticket-badge-red {
  position: relative;
  height: 2.4rem;
  padding: 0 0.8rem;
  border: 0.1rem solid #ef3e43;
  border-radius: 0.3rem;
  color: #ef3e43;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 2.4rem;
}

.ticket-badge-none {
  position: relative;
  display: none;
}

.ticket-footer {
  position: relative;
  display: flex;
  justify-content: center;
}

.ticket-ft-bt {
  display: block;
  position: relative;
  width: 200px;
  height: 56px;

  line-height: 42px;
  padding: 0px 39px;
  border: 1px solid #e5e5e5;
  border-radius: 4.4rem;
  background-color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  color: #111;
}
